<div class="container-fluid"  id="box1">


    <div id="koreimage">
        <img  width="110px" height="90px" src="../../assets/agile_images/kore.png" alt="">
    </div>
    <br><br><br>


    <div >

    <img id="circleimage"  class="fluid-image"  src="../../assets/agile_images/agile.jfif" alt="">
    </div>


    <div id="totaltext">

    </div>

 <br><br><br>
    <h1> Agile</h1>
  
     <p id="text">Combining the capacity of large global provides with the veloity of a tight team, we get more of the right things done faster</p>

    <div id="clickbutton">

        <input class="cbutton" (click)="funclick()" type="button" value="click">

    </div>





</div>